<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="login-style.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/home">Home</a>
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="/logout">Logout</a>
        <a class="nav-item nav-link" href="">My Private Posts</a>
        <a class="nav-item nav-link" href="">Filter Posts</a>
        <a class="nav-item nav-link" href="/create-post"><button type="button">Create Post</button></a>
        {% else %}
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
        {% endif %}
    </div>

    <!-- error and success messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    <div role="alert">  <!-- style these alert divs so that when the button is pressed they disappear-->
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert">X</button> 
                    </div>
                {% else %}
                    <div role="alert"> <!-- style these alert divs so that when the button is pressed they disappear-->
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert">X</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">{% block content %}{% endblock %}</div>
</body>
</html>