{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">Edit a Post</h1>

<form action="{{ url_for('views.update_post', id=post.id) }}", method="POST">

  <label for="title">Title</label>
  <textarea name="title" id="title" class="form-control">{{post.title}}</textarea>

  <label for="text">Text</label>
  <textarea name="text" id="text" class="form-control">{{post.text}}</textarea>

  <h3>Tags</h3>
  <textarea name="tag1" id="tag1" class="form-control" placeholder="tag1">{{ post.tag1 }}</textarea>
  <textarea name="tag2" id="tag2" class="form-control" placeholder="tag2">{{ post.tag2 }}</textarea>
  <textarea name="tag3" id="tag3" class="form-control" placeholder="tag3">{{ post.tag3 }}</textarea>

  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Update</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/home"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
  >
</div>
{% endblock %}