{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">Edit a Post</h1>

<form action="{{ url_for('views.update_post', id=post.id) }}", method="POST">

  <label for="title">Title</label>
  <textarea name="title" id="title" class="form-control">{{post.title}}</textarea>

  <label for="text">Text</label>
  <textarea name="text" id="text" class="form-control" rows="10" cols="40">{{post.text}}</textarea>
  <label for="tag1">Tags</label>
  <textarea name="tag1" id="tag1" class="form-control" placeholder="Tag 1 (required)" rows="1">{{ post.tag1 }}</textarea>
  <br>
  <textarea name="tag2" id="tag2" class="form-control" placeholder="Tag 2 (required)" rows="1">{{ post.tag2 }}</textarea>
  <br>
  <textarea name="tag3" id="tag3" class="form-control" placeholder="Tag 3 (required)" rows="1">{{ post.tag3 }}</textarea>

  {% if post.is_private == 0 %}
  <input type="checkbox" name="is_private" id="is_private">
  <label for="is_private">Private?</label>
  {% else %}
  <input type="checkbox" name="is_private" id="is_private" checked>
  <label for="is_private">Private?</label>
  {% endif %}
  
  <br>
  <div align="center">
    <button type="submit" class="update-btn">Update</button>
  </div>
</form>
<div align="center">
  <a href="/home"
    ><button type="button" class="back-btn">Back</button></a
  >
</div>
{% endblock %}