html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}

.main {
	background: linear-gradient(to bottom, #d1e3ff, #77adff);
	min-height: 100vh;
	transition: all 0.3s ease;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #ffffff;
}

header input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border-radius: 20px;
	border: none;
	background-color: #f3f3f3;
	width: 300px;
}

header button {
	padding: 10px;
	font-size: 16px;
	border-radius: 20px;
	border: none;
	color: #ffffff;
	background-color: #77adff;
	margin-left: 10px;
	cursor: pointer;
}

header button:hover {
	background-color: #5d9cef;
}

.blog-container {
	margin: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box {
	width: 100%;
	margin-bottom: 40px;
	background-color: #ffffff;
	padding: 30px;
	border-radius: 20px;
	position: relative;
}

.box h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.box p {
	font-size: 16px;
	margin-bottom: 20px;
}

.box .author {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 5px;
}

.box .tags {
	background-color: #d1e3ff;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

.box button {
	position: absolute;
    bottom: 20px;
    right: 20px;
	margin-top: 10px;
	padding: 10px;
	font-size: 16px;
	border-radius: 20px;
	border: none;
	color: #ffffff;
	background-color: #77adff;
	cursor: pointer
}

.box button:hover {
	background-color: #5d9cef;
  }