html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #d1e3ff, #77adff);
  overflow: auto;
}

h1 {
  margin-top: 20px;
}

.form-group {
  width: 320px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h3 {
  color: #77adff;
  margin-bottom: 20px;
  text-align: center;
  font-family:fantasy;
  font-size: 40px;
  font-style:initial;
}

.login-label {
  width: 100%;
  color: #5f5f62;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-right:80px;
  display: block;
  margin-top: 25px;
}

label {
  width: 100px;
  color: #5f5f62;
  font-weight: bold;
  margin-bottom: 10px;
  text-align:left;
  margin-top:15px;
}




input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #d1e3ff;
  color: #5f5f62;
  font-size: 16px;
  margin-bottom: 20px;
}

button[type="submit"],
.back-btn
{
  background-color: #77adff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top:10px;
}


button[type="submit"]:hover {
  background-color: #5d9cef;
}


.form-group label{
  color:#77adff;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}




input[type="text"],
input[type="password"] {
height:35px;
display: block;
width: 94%;
padding: 10px;
border-radius: 15px;
background-color: #d1e3ff;
color: #5f5f62;
font-size: 16px;
}

.btn-close {
  margin-top:0px;
  margin-right:10px;
  background-color: white;
  color: rgb(8, 244, 130);
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

